
.main{
	max-width: 1200px;
	margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center
}

h1{
	background-color:blue;
	color:red;
}

p{
	color: blue;
	font-size: 18px;
}

ol{
	color:blue;
	background-color: lightblue;
	}

ul{
	color:navy;
	background-color: lightgreen;
}